body {
  font-family: arial, sans-serif;
}

form {
  margin-top: 15px;
}

h1 {
  margin: 0px;
}

h1,
ul {
  color: #7c7c7c;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

footer {
  text-align: center;
}

.active {
  color: #000000;
  cursor: default;
}

.btn {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.capitalize {
  text-transform: capitalize;
}

.form {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.icon {
  max-width: 100px;
}

.location-element {
  margin-top: 10px;
}

.temperature-element {
  font-size: 64px;
}

.units {
  position: relative;
  bottom: 35px;
  font-size: 1rem;
}

.units-value {
  text-decoration: none;
}

.weather-app-container {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin: 20px auto;
  max-width: 600px;
  border-style: solid;
  border-width: 1px;
  border-color: #dadde1;
  border-radius: 10px;
}
