body {
  font-family: arial, sans-serif;
}

form {
  margin-top: 15px;
}

h1 {
  margin: 0px;
}

h1,
ul {
  color: #7c7c7c;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

footer {
  text-align: center;
}

.active {
  color: #000000;
  cursor: default;
}

.btn {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.capitalize {
  text-transform: capitalize;
}

.form {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.humidity-wind {
  text-align: right;
}

.icon {
  max-width: 100px;
}

.location-element {
  margin-top: 10px;
}

.temperature-element {
  font-size: 64px;
}

.units {
  position: relative;
  bottom: 35px;
  font-size: 1rem;
}

.units-value {
  text-decoration: none;
}

.weather-app-container {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin: 20px auto;
  max-width: 600px;
  border-style: solid;
  border-width: 1px;
  border-color: #dadde1;
  border-radius: 10px;
  background-color: white;
}

.weather-forecast-date {
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  margin-bottom: 30px;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 50px;
}

.weather-forecast-temperature-minimum {
  color: #70757a;
}

.cold {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.warm {
  background: radial-gradient(
    905px at 4.9% 85.8%,
    rgb(255, 243, 242) 0.1%,
    rgb(255, 247, 220) 57.6%
  );
}

.hot {
  background: linear-gradient(
    110.3deg,
    rgb(238, 179, 123) 8.7%,
    rgb(216, 103, 77) 47.5%,
    rgb(114, 43, 54) 89.1%
  );
}

.dark-mode {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  color: #7c7c7c;
}

.dark-mode-search-form {
  background-color: black;
}

footer {
  margin-top: 20px;
}

button {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
